.card {
    background-color: white;
    height: var(--mini-pokemon-height);
    width: var(--mini-pokemon-width);
    border-radius: 1rem;
    border:1px solid black;
    overflow: hidden;
}

.sprite {
    max-height: 60px;
    max-width:60px;
}

.pokeballImg {
    background-color: lightgray;/*remove later...*/
    border-radius: 50%;
    padding:1px;
    width:40px;
}

.fire {
    background-color: var(--fire-background);
}

.water {
    background-color: var(--water-background);
}

.grass {
    background-color: var(--grass-background);
}

.electric {
    background-color: var(--electric-background);
}

.bug {
    background-color: var(--bug-background);
}

.normal {
    background-color: var(--normal-background);
}

.poison {
    background-color: var(--poison-background);
}

.ground {
    background-color: var(--ground-background);
}

.fairy {
    background-color: var(--fairy-background);
}