.card {
    
}

.fire {
    background-color: var(--fire-background);
}

.water {
    background-color: var(--water-background);
}

.grass {
    background-color: var(--grass-background);
}

.electric {
    background-color: var(--electric-background);
}

.bug {
    background-color: var(--bug-background);
}

.normal {
    background-color: var(--normal-background);
}

.poison {
    background-color: var(--poison-background);
}

.ground {
    background-color: var(--ground-background);
}

.fairy {
    background-color: var(--fairy-background);
}