.imgDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height:450px;
    aspect-ratio: 1/1;
}

#alternatingImg{
    /* transform: translate(-50%,-50%); */
    max-width: 100%;
}