.card{
    position: relative;
    width:250px;
    height:500px;
    border-radius: var(--general-border-radius);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
    overflow: hidden;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}

.pokeball-image {
    position: absolute;
    z-index: 0;
    right: -10px;
    bottom:50%;
    height:30%;
    opacity: 0.3;
}

.top-div {
    color:white;
}

.poke-image {
    height:60%;
    position:absolute;
    transform: translate(-50%, -100%);
    top:10%;
    left:50%;
}

.data-div {
    z-index: 1;
    position:relative;
    border-radius: var(--general-border-radius);
    height:55%;
    color:black;
    background-color: white;
}

.inner-data-div {
    margin: 2rem 1rem 2rem 1rem;
}

.fire {
    background-color: var(--fire-background);
}

.water {
    background-color: var(--water-background);
}

.grass {
    background-color: var(--grass-background);
}

.electric {
    background-color: var(--electric-background);
}

.bug {
    background-color: var(--bug-background);
}

.normal {
    background-color: var(--normal-background);
}

.poison {
    background-color: var(--poison-background);
}

.ground {
    background-color: var(--ground-background);
}

.fairy {
    background-color: var(--fairy-background);
}
