.card{
    position: relative;
    width:250px;
    height:500px;
    border-radius: var(--general-border-radius);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
    overflow: hidden;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}

.top-div {
    padding:1rem 1rem 1rem 1rem;
    color:white;
}

.name {
    font-size: 1.8rem;
}

.back-and-like-div {
    display:flex;
    justify-content: space-between;
}

.back-arrow {
    width:1.5rem;
    transform:rotateX(180deg);
}

.back-arrow:hover {
    scale:1.10;
}

.like-button {
    border: none;
    font-size: 1.5rem;
    background: none;
    color:white;
}

.like-button:hover {
    scale:1.10;
}

.types-div{
    display:flex;
    gap:0.5rem;
}

.pokeball-image {
    position: absolute;
    z-index: 0;
    right: -10px;
    bottom:50%;
    height:30%;
    opacity: 0.3;
}


.poke-image {
    height:50%;
    position:absolute;
    transform: translate(-50%, -100%);
    top:10%;
    left:50%;
}

.data-div {
    z-index: 1;
    position:relative;
    border-radius: var(--general-border-radius);
    height:55%;
    color:black;
    background-color: white;
}

.inner-data-div {
    margin: 2rem 1rem 2rem 1rem;
}

.tabs-div {
    width:fit-content;
    display:flex;
    justify-content: space-around;
    background-color: rgba(220, 220, 220, 0.4);    
}

.tab {
    border:none;
    border-radius: 0.3rem;
    padding:0 0.2rem 0 0.2rem;
    font-size: 1.1rem;
    color:black;
    background-color: none;
}

.selected-tab {
    background-color: rgba(223, 83, 255, 0.8);   
    scale:1.05; 
}

.tab:hover {
    background-color: rgba(223, 83, 255, 0.8);   
    scale:1.05; 
}

.fire {
    background-color: var(--fire-background);
}

.water {
    background-color: var(--water-background);
}

.grass {
    background-color: var(--grass-background);
}

.electric {
    background-color: var(--electric-background);
}

.bug {
    background-color: var(--bug-background);
}

.normal {
    background-color: var(--normal-background);
}

.poison {
    background-color: var(--poison-background);
}

.ground {
    background-color: var(--ground-background);
}

.fairy {
    background-color: var(--fairy-background);
}
