@font-face {
    font-family: young-serif;
    src: url(./assets/fonts/young-serif/YoungSerif-Regular.ttf);
}

@font-face {
    font-family: outfit;
    src: url(./assets/fonts/outfit/Outfit-VariableFont_wght.ttf);
}

:root{
--White: hsl(0, 0%, 100%);

--Stone-100: hsl(30, 54%, 90%);
--Stone-150: hsl(30, 18%, 87%);
--Stone-600: hsl(30, 10%, 34%);
--Stone-900: hsl(24, 5%, 18%);

--Brown-800: hsl(14, 45%, 36%);

--Rose-800: hsl(332, 51%, 32%);
--Rose-50: hsl(330, 100%, 98%);
}

body{
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--Stone-100);
    
    p, li, table{
    padding-top:5px;
    font-family: outfit;
    color:var(--Stone-600);
    }
}

.mainDiv{
    border-radius: 25px;
    height: 80%;
    width: 60%;
    background-color: white;

}

.innerMainDiv{
    margin: 5%;
}

.secondaryDiv{
    border-bottom: 1px solid var(--Stone-150);
}

ul, ol{
    list-style-position: outside;
    padding-left: 25px;
    margin-block: 5px;
    li{
        padding: 6px;
    }
}
h1{
    color:var(--Stone-900);
}
h1,h2{
    font-family:young-serif;
}
h2{
    color:var(--Brown-800)
}




b{
    color:var(--Stone-600);
}

.imgDiv{
    display:flex;
    flex-direction: column;
    align-items: center;
    img{
        border-radius: 25px;
        width:100%;
    }
}

#prepTime{
    background-color:var(--Rose-50);
    border-radius:15px;
    width: 80%;
    padding: 10px;
    
    h3{
        margin-block: 5px;
        font-family: outfit;
        color:var(--Rose-800);
    }
}

#nutrition{
    border-bottom:none;
    .tblR{
        color:hsl(14, 45%, 36%);
        font-weight: 600;
    }
    table{
        width: 100%;
        border-collapse:collapse;
    }
    td{
        padding-top:5px;
        padding-bottom: 5px;
        border-bottom: 1px solid var(--Stone-150);
    }
    tr:last-child > td {
        border-bottom: none;
    }
}