@font-face {
  font-family: oswald;
  src: url('./assets/fonts/Oswald/Oswald-VariableFont_wght.ttf');
}

* {
  box-sizing:border-box;
  padding: 0;
  margin: 0;
}

:root {
  /* color palette */
  --background-opacity: 0.75;
  --fire-background:hsl(0, 86%, 69%, var(--background-opacity));
  --water-background:hsl(208, 94%, 73%, var(--background-opacity));
  --grass-background: hsl(164, 100%, 71%, var(--background-opacity));
  --electric-background: hsl(43, 97%, 73%, var(--background-opacity));
  --bug-background: var(--grass-background, var(--background-opacity));
  --normal-background: rgba(128, 128, 128, var(--background-opacity));
  --poison-background: rgba(128, 0, 128, var(--background-opacity));
  --ground-background: rgba(165, 42, 42, var(--background-opacity));
  --fairy-background: rgba(255, 192, 203, var(--background-opacity));

  /*sizes*/
  --mini-pokemon-width: 280px;
  /* --mini-pokemon-height: 120px; */
  --general-border-radius: 1rem;
}

body {
  background-color: rgba(173, 216, 230, 0.466);
  /* background-color: whitesmoke; */
  font-family: oswald;
}

.typeDiv {
  display:block;
  background-color: rgba(255, 255, 255, 0.25);
  border-radius: 1rem;
  padding: 0.2rem 1rem 0.2rem 1rem;
  margin:0.2rem 0 0.2rem 0;
  /* font-size: 0.8rem; */
  width:fit-content;
  text-align: center;
}

/* :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */

/* a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
