*{
    box-sizing:border-box;
    font-family: Barlow-Semi-condensed-Medium;
}

@font-face {
    font-family: Barlow-Semi-condensed;
    src: url(./fonts/Barlow_Semi_Condensed/BarlowSemiCondensed-Black.ttf);
}
@font-face{
    font-family: Barlow-Semi-condensed-Medium;
    src:url(./fonts/Barlow_Semi_Condensed/BarlowSemiCondensed-Medium.ttf)
}
:root{
    --text-light:white;
    --text-grey:lightgrey;
    --text-dark-grey:#59606c;
    --item-background: hsl(0, 80%, 63%);
    --daniel-background:#733fc8;
    --background:#edf2f8;
    --jonathan-background:#49556b;
    --patrick-background:#18202d;

}
body{
    background-color: var(--background);
    overflow-x: hidden;
}
img{
    border-radius: 50%;
    border:2px solid lightgray;
    height:75%;
}
.profileDiv{
    display:flex;
    align-items: center;
    height:4rem;
    /* z-index: 1; */
}
.imgDiv{
    
}
.profileTextDiv{
    margin-left:1rem;
    z-index: 1;
}
.profileTextDiv > :last-child{
    opacity:50%;
}
.boldDiv{
    font-size: 1.5rem;
}
.textDiv{
    
}

.grid{
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    gap:1rem;
}

.grid-item{
    border:1px solid black;
    border-radius: 0.5rem;
    padding:2rem;
    display: flex;
    flex-direction: column;
    gap:1rem;
    background-color: white;
    color:white;
}

.grid-item > :last-child{
    opacity: 70%;
}

.lightDiv{
    color:var(--text-dark-grey)
}


.daniel{
    background-color: var(--daniel-background);
    grid-column: span 2;
    grid-row: span 1/ span 1;
    z-index: 0;
    position:relative;
}
.quote{
    position:absolute;
    border-radius: 0;
    border:none;
    opacity:70%;
    z-index: 0;
    height:8.5rem;
    top:0;
    left:50%;
}

.daniel .boldDiv{
    z-index: 1;
}

.jonathan{
    grid-column: span 1;
    background-color: var(--jonathan-background);
}

.jeanette{
    grid-column: span 1;
}

.patrick{
    grid-column: span 2;
    background-color: var(--patrick-background);
}

.kira{
    grid-column-end:-1;
    grid-row: 1/span 2;
}

@media(max-width:760px){
    .grid{
        display:flex;
        flex-direction: column;
    }
}