*{
    box-sizing:border-box;
}
@font-face {
    font-family: 'WorkSans';
    src: url('./assets/fonts/WorkSans-VariableFont_wght.ttf');
}
:root{
    /* colors */
    --White: hsl(0, 0%, 100%);
    --Light-pink: hsl(275, 100%, 97%);
    --Grayish-purple: hsl(292, 16%, 49%);
    --Light-purple: hsl(286, 100%, 50%);
    --Dark-purple: hsl(292, 42%, 14%);
    
    /* weights:400,600,700 */
}
body{
    overflow-x: hidden;
    font-family: WorkSans;
    color:var(--Dark-purple);
    font-size: 16px;
    background-color: var(--Light-pink);
    height:100vh;
}
hr{
    opacity: 0.3;
}
.backgroundImg{
    position:absolute;
    z-index: -1;
    top:-1px;
    left:-1px;
    width:110%;
}
.backgroundDiv{
    height:100%;
    margin-left: 1rem;
    margin-right: 1rem;
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
}
.mainDiv{
    margin-top:145px;
    border:none;
    border-radius: 0.5rem;
    padding:1rem;
    background-color: white;
}
.faqHeader{
    display:flex;
    align-items: center;
    height:2.5rem;
    margin:0.5rem 0.5rem 0.5rem 0.5rem;
}
.starImg{
    height: 1.5rem;
    margin-right: 1rem;
}
.item{
    display:grid;
    grid-template-columns: 3fr 1fr;
}
.item img{
    justify-self:end;
    align-self:center;
}
.itemHeading{
    margin-top:1rem;
    margin-bottom: 1rem;
    font-weight:700;
    display: flex;
    align-items:center;
}
.itemHeading:hover{
    color: var(--Light-purple);
    opacity: 0.5;
}
.itemText{
    color:var(--Grayish-purple);
    grid-column-start: 1;
    grid-column-end:3;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
button{
    border:none;
    border-radius: 50%;
}
.buttonClicked{

}
.hidden{
    display: none;
}

@media(min-width:1400px){

}