*{
    box-sizing:border-box;
}
body{
    display:flex;
    justify-content: center;
}
#mainDiv{
    width:710px;
    min-width: 710px;
    height:976px;
    min-height:976px;
    background-color: white;
    border:1px solid black;
}

.container{
    background-color: yellow;
    border: 2px solid blue;
    margin:2rem 0.5rem;
}

#div1{
    color:red;
    padding:1rem;
    
    #p4{
        margin-right:0;
        padding-right:0;
        color:black;
    }
    #p5{
        margin-left:0;
        padding-left:0;
    }
    #p3{
        color:white;
        background-color: gray;
        padding:1rem;
        border-radius: 7px;
    }
}
#div2{
    padding: 1rem;
    .ball{
        display:inline-block;
        height:100px;
        width:100px;
        border-radius: 50%;
    }
    #ball1{
        background-color: red;
    }
    #ball2{
        background-color: blue;
    }
    #ball3{
        background-color: green;
    }
}
#div3{

}
#div4{
    position:relative;
    height:400px;
    width: 80%;
    background-color: red;
    margin:1rem auto 2rem;
    .item{
        width:fit-content;
    }
    #left{
        /* position:absolute;
        top:0px; */
        color:white;
        background-color:black;
        padding:1rem;
    }
    #right{
        margin-left:auto;
        color:white;
        background-color:black;
        padding:1rem;
    }
    #middle{
        /* position:absolute;
        top: 50%;
        left:50%;
        transform: translate(-50%,-50%); */
        margin:auto;
        color:white;
        background-color: black;
        border-radius: 50%;
        /* aspect-ratio: 2/1; */
        padding:1rem;
        box-shadow: 5px 10px 15px white;
    }
}